h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}
.statistics {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.title {
  margin-top: 30px;
  background-color: #eaeaea;
  padding: 15px;
}

.stat-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.stat-list__item {
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.label {
  margin-bottom: 5px;
}

.percentage {
  font-size: 20px;
  font-weight: 500;
}
